#container{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &>div{
    border: 1px solid black;
    width: 30vw;
    height:60vh;
  }
  
  &>div:nth-child(1){
    background-color: antiquewhite;
    border-radius: 10%;
    position: relative;
    left: 25em;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>div{
      border: 1px solid black;
      width: 100%;
    }
    &>div:nth-child(1){
      height:10%;
    }
    &>div:nth-child(2){
      height:40%;
      font-size: 2em;
    }
    &>div:nth-child(3){
      height:30%;
    }
    &>div:nth-child(4){
      height:10%;
    }

  }
  &>div:nth-child(2){
    background-color: aqua;
    position: relative;
    top:3em;
    left: -7em;
    border-radius: 10%;
    z-index: 2;
  }
  &>div:nth-child(3){
    background-color: azure;
    text-align: justify;
    position: relative;
    left: -30em;
    z-index: 1;
    height:30vh;
  }
}